@charset "UTF-8";

html {
    box-sizing: border-box;
    min-height: 100%;
    position: relative;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.sp {
    display: revert;
}

.pc {
    display: none;
}

.footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    line-height: 60px;
}

.password-hover {
    cursor: pointer;
}

.loadingoverlay {
    opacity: 0.4 !important;
}

.hide {
    display: none;
}

.login-card-inner.container {
    width: 370px;
    max-width: 100%;
}

.container {
    padding-right: 25px;
    padding-left: 25px;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.login-card-inner .login-card-body .form-block .form-inner {
    overflow: hidden;
    margin-bottom: 35px;
}

@media (min-width: 767px) {
    .sp {
        display: none;
    }

    .pc {
        display: revert;
    }
}
